/*================================================== 
     Slideshow
 ================================================== */

/*-- Main slide --*/

#main-slide .item {
    height: 700px;
}

#main-slide .item img{
	width: 100%;
}

#main-slide .item .slider-content {
  z-index: 0;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}
#main-slide .item.active .slider-content {
  z-index: 0;
  opacity: 1;
  -webkit-transition: opacity 100ms;
  -moz-transition: opacity 100ms;
  -o-transition: opacity 100ms;
  transition: opacity 100ms;
}

#main-slide .slider-content{
	top: 45%;
	margin-top: -70px;
	left: 0;
	padding: 0;
	text-align: center;
	position: absolute;
	width: 100%;
	height: 100%;
	color: #fff;
}

#main-slide .carousel-indicators {
	bottom: 30px;
}

.carousel-indicators li{
	width: 14px !important;
	height: 14px !important;
	border: 2px solid #fff !important;
	margin: 1px !important;
}


#main-slide .carousel-control.left,
#main-slide .carousel-control.right {
	opacity: 1;
	filter: alpha(opacity=100);
	background-image: none;
	background-repeat: no-repeat;
	text-shadow: none;
}

#main-slide .carousel-control.left span {
	padding: 15px;
}

#main-slide .carousel-control.right span {
	padding: 15px;
}

#main-slide .carousel-control .fa-angle-left, 
#main-slide .carousel-control .fa-angle-right{
	position: absolute;
	top: 40%;
	z-index: 5;
	display: inline-block;
}

#main-slide .carousel-control .fa-angle-left{
	left: 0;
}

#main-slide .carousel-control .fa-angle-right{
	right: 0;
}

#main-slide .carousel-control i{
	background: rgba(0,0,0,.7);
	color: #fff;
	line-height: 36px;
	font-size: 32px;
	padding: 15px 20px;
	-moz-transition: all 500ms ease;
	-webkit-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}


#main-slide .slider-content h1{
	font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 5px;
    margin-bottom: 55px;
    color: #fff;
    font-family: 'Oswald', sans-serif;
}


#main-slide .slider-content h2.white, #main-slide .slider-content h3.white {
    color: #fff;
}

#main-slide .slider-content p{
	font-size: 30px;
    font-weight: 300;
    line-height: 35px;
    letter-spacing: 1px;
    margin-bottom: 55px;
    color: #fff;
}

.slider.btn{
	padding: 10px 40px;
	font-size: 20px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	text-transform: uppercase;
	line-height: 28px;
    font-weight: 300;
	border: 0;
	-moz-transition: all 300ms ease;
	-webkit-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}

#main-slide .btn-primary:hover {
	background: transparent;
	border: 1px solid #fff;
}

.slider.btn.btn-default{
	margin-left: 4px;
	background: #ECECEC
}

.slider.btn.btn-default:hover{
	background: #000;
	color: #fff;
}

.slider-content-left {
	position: relative;
	margin: 0 0 0 40px;
}

.slider-content-right{
	position: relative;
}

/*-- Animation --*/
.carousel .item.active .animated1 {
	-webkit-animation: lightSpeedIn 1s ease-in 800ms both;
	animation: lightSpeedIn 1s ease-in 800ms both;
}

.carousel .item.active .animated2 {
	-webkit-animation: bounceIn 1s ease-in 800ms both;
	animation: bounceIn 1s ease-in 800ms both;
}

.carousel .item.active .animated3 {
	-webkit-animation: flipInX 2s ease-in-out 800ms both;
	animation: flipInX 2s ease-in-out 800ms both;
}


@media (min-width : 992px) {
    
    #main-slide .slider-content h1{
		font-size: 68px;
	}
}


@media (min-width : 768px) and (max-width: 991px) {
    
    #main-slide .slider-content h1{
		font-size: 35px;
        margin-bottom: 10px;
        margin-top: 0;
	}
	#main-slide .slider-content p{
		font-size: 20px;
		margin-top: 0;
        line-height: 25px;
	}

	.slider.btn{
		padding: 5px 25px;
		margin-top: 5px;
		font-size: 16px;
	}
    
    #main-slide .item {
        height: 550px;
    }
    
}


@media (max-width : 767px) {
    
    #main-slide .slider-content h1{
		font-size: 28px;
		line-height: normal;
		margin-bottom: 0;
	}
	#main-slide .slider-content p{
		font-size: 14px;
		margin-top: 5px;
	}
	.slider.btn{
		padding: 0 15px;
		margin-top: 0;
		font-size: 12px;
	}
	#main-slide .carousel-indicators{
		display: none;
	}
    
    #main-slide .item .slider-content{
		display: none;
	}
    
    #main-slide .item {
        height: 400px;
    }
    
}


@media (max-width : 479px) {
    
    #main-slide .item .slider-content{
		display: none;
	}
    
    #main-slide .item {
        height: 180px;
    }
    
}