#display-quiz {
    margin-top: 5em;
  }

  #quiz-form {
      padding-top: 1em;
      height: 70px;
      background: rgb(193, 191, 204);
      border-radius: 5px;
  }

  #quiz-label {
      margin-left: 1em;
  }