/*------------------------------------------------------ */
/* Start Feature Section                              */
/*------------------------------------------------------ */


.services-section {
    padding-top: 80px;
    padding-bottom: 20px;
}
.feature-section {
    padding-top: 100px;
}

.feature, .feature-2, .feature-3 {
    padding-bottom: 80px;
}

.feature, .feature-3 {
    text-align: center;
}
.feature h4,
.feature-3 h4 {
    font-size: 15px;
    color: #666;
    font-weight: 300;
    font-family: 'Oswald', sans-serif;
}

.feature-2 h4{
    font-size: 15px;
    color: #666;
    padding-bottom: 10px;
    font-weight: 300;
    font-family: 'Oswald', sans-serif;
}

.feature p, 
.feature-2 p,
.feature-3 p {
    color: #444;
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
}

.feature i,
.feature-3 i {
    font-size:2.5em;
    width: 80px;
    height: 80px;
   padding:25px;
    margin-bottom: 10px;
   position: relative;
}

.feature i {
    color:#fff;
	box-shadow: 0 0 0 30px transparent;
	-webkit-transform: translate3d(2, 2, 2);
	-moz-transform: translate3d(2, 2, 2);
	-o-transform: translate3d(2, 2, 2);
	transform: translate3d(2, 2, 2);
	-webkit-transition: box-shadow .6s ease-in-out;
	-moz-transition: box-shadow .6s ease-in-out;
	-o-transition: box-shadow .6s ease-in-out;
	transition: box-shadow .6s ease-in-out;
}
.no-touch .feature:hover i,
	.no-touch .feature:active i,
	.no-touch .feature:focus i {		
		
		-webkit-transition: box-shadow .4s ease-in-out;
		-moz-transition: box-shadow .4s ease-in-out;
		-o-transition: box-shadow .4s ease-in-out;
		transition: box-shadow .4s ease-in-out;
}

.feature-3 i {
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.feature-3:hover .border {
    margin: 0 35%;
}

.feature-2 i {
   font-size:2.5em;
    color: #fff;
    width: 70px;
    height: 70px;
   padding:20px;
   position: relative;
    
}

.feature-2 .media-body {
    margin-left: 25px !important;
}

.feature-2 .border {
    margin-top: 20px;
    margin-left: 49.999%;
    margin-right: 49.999%;
	border-color: #fff;
}

.feature-2:hover .border {
    margin-left: 0%;
    margin-right: 0%;
}
