/*----------------------------------------------------------*/
/* Start Fun Facts Counter Section
/*----------------------------------------------------------*/

.fun-facts {
    background: url(../images/parallax/bg-02.jpg);
    background-attachment: fixed;
    background-size: cover;
    padding-top: 120px;
    padding-bottom: 80px;
}

.counter-item {
    position:relative;
    text-align:center;
    margin-bottom: 40px;
    background: rgba(0, 0, 0, 0.5);
    padding: 70px;
}

.counter-item h5 {
  text-align:center;
  margin-bottom:0px;
  color:#fff;
}

.counter-item i {
  font-size:40px;
}


.timer {
  font-size: 48px;
  font-weight: 800;
  text-transform: uppercase;
  text-align:center;
  line-height:80px;
    font-family: 'Oswald', sans-serif;
}
