/*---------------------------------------------------------------*/
/* Start Login
/*---------------------------------------------------------------*/


.log-in {
    /* background: url(../images/parallax/call-to.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 90%; */
    /* color: #fff; */
    text-align: center;
    padding: 80px 0;
}

.log-in h1 {
    font-weight: 500;
    line-height: 50px;
    padding-bottom: 40px;
    font-size: 30px;
}

/* .log-in h1 strong {
    font-weight: 900;
    
} */

.bootstrap-iso .form-control:focus{border-color: #5cb85c;  box-shadow: none; -webkit-box-shadow: none;}

.log-in .btn-primary {
    padding: 20px;
    font-size: 16px;
}

.log-in .btn-primary:hover {
    background: transparent;
}

.log-in .form-control {
    border-color: darkgreen !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}
