/*---------------------------------------------------------------*/
/* Start Sign Up
/*---------------------------------------------------------------*/


.sign-up {
    background: url(../images/parallax/call-to.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 90%;
    color: #fff;
    text-align: center;
    padding: 80px 0;
}

.sign-up h1 {
    font-weight: 300;
    line-height: 50px;
    padding-bottom: 40px;
    font-size: 30px;
}

.sign-up h1 strong {
    font-weight: 600;
    
}

.sign-up .btn-primary {
    padding: 20px;
    font-size: 16px;
}

.sign-up .btn-primary:hover {
    background: transparent;
}