@charset "UTF-8";

.form-control {
    display: ;
    width: ;
    height: ;
    padding: ;
    font-size: ;
    line-height: ;
    color: ;
    background-color: ;
    background-clip: ;
    border: ;
}